<mat-toolbar color="primary">
  <ion-button (click)="goToLogin()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    Volver
  </ion-button>
  <span class="toolbar-title">Restablecer Contraseña</span>
  <span class="spacer"></span>
</mat-toolbar>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="resetPassword()">RECUPERAR</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
