.tituloResetPass{
    text-align: center;
    margin-right: 10%;
}

ion-button {
    --background: #001f3f;
    --color: #ffffff; 
    --background-activated: #001b36;
    --background-focused: #001b36;
  }
